Hello <%= @user.email %>


<% if @user.password_token_timestamp > (Time.now - 3600) %>
	<form action="/users/password_updated" method="post">
		Email: <input name="email" type="text" value="<%= @user.email %>">
		Password: <input name="password" type="password">
		Password-Confirmation: <input name="password_confirmation" type="password">
		<input type="submit" value="Sign up">
	</form>	
<% else %>
	Your link has expired.
<% end %>