<header>
	<section id="logo">
		<a href='/'>Bookmark Manager</a>
	</section>

	<div id="add-link">
		<a href="/links/new" class="button highlighted">Add link</a>
	</div>

		<div id="user-links">
		<% if current_user %>
			<div id='welcome-text'>
				Welcome, <%= current_user.username %>
			</div>
			<form id="sign-out" method="post" action="/sessions">
			<input type="hidden" name="_method" value="delete">
			<input class="button" type="submit" value="Sign out">
			</form>
		<% else %>
			<a href='/users/new' id='sign_up' class='button'>Sign up</a>
			<a href='/sessions/new' id='sign-in' class='button'>Sign in</a>
		<% end %>
		</div>
</header>