<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/application.css"> 
	<title>Bookmark Manager</title>
</head>
<body>
	
	<%= erb :welcome_message %>
  <%= erb :flash %>
  <%= yield %>

</body>
</html>