<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/css/application.css">
	<title>Bookmark Manager</title>
</head>

<body>
	
	<%= erb :header %>
  <%= erb :flash %>
  <%= yield %>

</body>
</html>