<li class='link'>
 	<a class='title' href="<%= link.url %>"><%= link.title %></a>
 	<div class='description'>
 		owhfohrgoihorighoeirhgoehroghreo
 	</div>
 	<span class='source'>
 		added yesterday by
 		<a href="#">Dave and Michiel</a>
 	</span>
</li>